:root {
  --grey-shade1: #1c1c1f;
  --grey-shade2: #424149;
  --grey-shade3: #625e79;
  --grey-shade4: #8781a4;
  --grey-shade5: #b1acc7;
  --grey-shade6: #dcdae7;
}

/* Source */
/* https://fonts.google.com/specimen/Open+Sans */
/* noinspection CssUnknownTarget */
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-VariableFont_wdth,wght.ttf") format("truetype"),
    url("/fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf") format("truetype"); /* Turns out Firefox rejects .ttf and needs truetype format. */
  font-weight: 400;
  font-style: normal;
}

html,
body,
#app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", "sans-serif";
  background-color: var(--grey-shade1);
  display: flex;
  flex-direction: column;
}

#header {
  height: 5%;
  box-sizing: border-box;
  background-color: var(--grey-shade2);
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: solid 2px;
  border-color: var(--grey-shade4);
  font-family: "Open Sans", "sans-serif";
  font-size: 35px;
  color: var(--grey-shade6);
  position: relative;
  font-weight: 600;
  letter-spacing: 0.04em;
  background: linear-gradient(100deg, var(--grey-shade2), var(--grey-shade3));
}

#logo-link {
  display: flex;
  align-items: center;
  height: 90%;
  position: absolute;
  left: 10px;
  opacity: 0.6;
}

#logo-img {
  height: 80%;
  width: auto;
  opacity: 0.4;
  transition: opacity 0.5s ease;
}

#logo-img:hover {
  opacity: 1;
}

#scenes {
  height: 95%;
  display: flex;
  flex-direction: row;
}

.half {
  height: 100%;
  width: 50%;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#left-half {
  padding: 20px 10px 20px 20px;
}

#right-half {
  padding: 20px 20px 20px 10px;
}

/* Phone-like screens that have more height than width */
@media (max-aspect-ratio: 1/1) {
  #scenes {
    flex-direction: column;
  }

  .half {
    width: 100%;
    height: 50%;
  }

  #left-half {
    padding: 20px 20px 10px 20px;
  }

  #right-half {
    padding: 10px 20px 20px 20px;
  }
}

#left-canvas {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#right-canvas {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#icon-container {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Ensures it doesn't block interactions with the canvas */
  z-index: 1; /* Above the THREE scene */
}

#upload-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s;
  filter: drop-shadow(0 0 20px white);
}